body {
    background-color: lightsalmon;
}
#wrap {
    margin: auto;
    text-align: center;
}
h1 {
    font-size: 3em;
    text-align: center;
    color: lightgreen;
    border: 1px solid lightgreen;
    width: 600px;
    margin: 40px auto;
}
button {
    background-color: lightyellow;
    width: 100px;
    height: 50px;
    font-size: 1em;
}